<footer class="footer text-center bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-12">
                        <p class="mencion">&copy; 2020 -
                            Agustín Pérez | Código disponible en <a
                                href="https://github.com/Tusnakis/coronaExprejs.git">Github</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>