<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/head') %>
</head>

<body>
    <%- include ('partials/nav') %>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <br>
                <div class="row">
                    <div class="col-sm-4">
                        <img src="./images/jabon.png" alt="">
                        <br><br>
                        <p class="mencion">Iconos diseñados por <a href="https://www.flaticon.es/autores/freepik"
                                title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/"
                                title="Flaticon">www.flaticon.es</a></p>
                        <p><strong>Lávate las manos frecuentemente</p></strong>
                    </div>
                    <div class="col-sm-4">
                        <img src="./images/ojo.png" alt="">
                        <br><br>
                        <p class="mencion">Iconos diseñados por <a href="https://www.flaticon.es/autores/freepik"
                                title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/"
                                title="Flaticon">www.flaticon.es</a></p>
                        <p><strong>Evita tocarte los ojos, la nariz y la boca, ya que las manos facilitan su
                                transmisión</strong></p>
                    </div>
                    <div class="col-sm-4">
                        <img src="./images/tos.png" alt="">
                        <br><br>
                        <p class="mencion">Iconos diseñados por <a href="https://www.flaticon.es/autores/freepik"
                                title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/"
                                title="Flaticon">www.flaticon.es</a></p>
                        <p><strong>Al toser o estornudar, cúbrete la boca y la nariz con el codo flexionado</strong></p>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                        <img src="./images/contorno-del-rollo-de-tejido.png" alt="">
                        <br><br>
                        <p class="mencion">Iconos diseñados por <a href="https://www.flaticon.es/autores/freepik"
                                title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/"
                                title="Flaticon">www.flaticon.es</a></p>
                        <p><strong>Usa pañuelos desechables para eliminar secreciones respiratorias y tíralo tras su
                                uso</strong></p>
                    </div>
                    <div class="col-sm-4">
                        <img src="./images/apoyo.png" alt="">
                        <br><br>
                        <p class="mencion">Iconos diseñados por <a href="https://www.flaticon.es/autores/freepik"
                                title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/"
                                title="Flaticon">www.flaticon.es</a></p>
                        <p><strong>Si presentas síntomas respiratorios evita el contacto cercano con otras
                                personas</strong></p>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<%- include ('partials/script') %>

</html>