<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/head') %>
</head>

<body>
    <div>
        <%- include ('partials/nav') %>
        <br>
        <%= page %>
    </div>
</body>
<%- include ('partials/script') %>

</html>