body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  font-size: 12px;
}

.containerTable {
  padding-bottom: 50px;
}

.mencion {
  font-size: 10px;
  padding-top: 15px;
}

footer {
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}
